*.iml
*.class
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java
/NDK
/cargo/target
cargo/.cargo/config
.packages
.flutter-plugins
android/.idea/
android/app/src/main/jniLibs/
ios/Flutter/libmiddleware.a
